html, body {
    height: 100%;
    background-image: url("../img/cool-background.png");
    background-size: cover;
}

#head-bar {
    display: flex;
    background-color: #f6f8fa;
    padding: 5px;
}

#brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 28px;
    font-family: 'jdzhonyuanjian374ad10cec25262';
    color: #1296db;
    line-height: 20px;
    text-decoration: none;
}

#main-div {
    width: 30%;
    height: 50%;
    margin-top: 10%;
    margin-left: 35%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(0, 191, 255, 0.075);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

#login-header {
    padding: 20px;
    text-align: center;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#register-header {
    padding-top: 15px;
    text-align: center;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#upper-div {
    text-align: center;
}

#email-title {
    margin: 10px;
    font-size: 14px;
    text-align: left;
    padding-left: 4px;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#verify-title {
    margin: 10px;
    font-size: 14px;
    text-align: left;
    padding-left: 4px;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#login-email-input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 7px;
}

#register-email-input {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 7px;
}

#lower-div {
    margin: 10px;
    text-align: center;
}

#register-lower-div {
    text-align: center;
}

#verify-input {
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 7px;
}

#login-button {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #35873a;
    font-family: 'jdzhonyuanjian374ad10cec25262'
}

#button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#verify-button {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 5%;
    background-color: #5a6268;
    font-family: 'jdzhonyuanjian374ad10cec25262'
}

#register-button {
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #35873a;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#button-group {
    margin-left: auto;
    padding: 5px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

#user-button {
    border-radius: 5px;
    color: white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #35873a;
    font-family: 'jdzhonyuanjian374ad10cec25262';
    min-height: 38px;
}

#user-button:hover {
    background-color: white;
    color: #35873a;
    border: #35873a;
}

#drop-menu {
    margin-top: -5px;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#list-title {
    text-shadow: 0 1px 0 #c0c0c0,
    0 2px 0 #b0b0b0,
    0 3px 0 #a0a0a0,
    0 4px 0 #909090,
    0 5px 10px rgba(0, 0, 0, .9);
    color: white;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#upload-button-1 {
    min-width: calc(5vw);
    font-family: 'jdzhonyuanjian374ad10cec25262';
}

#upload-button-2 {
    min-width: calc(5vw);
    margin-left: 10px;
    font-family: 'jdzhonyuanjian374ad10cec25262';
}